.Back{
    max-width: 380px;
    margin: 0 auto;
    padding: 80px 10px 10px;
    background: linear-gradient(to bottom, aqua, #007f9e);
}

.card {
  background-color: rgb(224, 248, 251);
  padding: 10px;
  min-height: 650px;
  text-align: center;
}

.subtitle{
    font-size:21px;
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
    color: black;
}

.inputGroup {
  display: flex;
  max-width: 300px;
  margin: 30px auto;
}

.inputGroup label {
  font-weight: bold;
  font-size: 20px;
  min-width: 60px
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid #007f9e;
}

.buttonGroup {
  display: flex;
  gap: 20px;
  margin:0 auto;
  justify-content: center;
}

.createButton,
.joinButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  padding: 10px;
  font-size: 15px;
  font-weight:bold;
  border-radius: 12px;
  color: rgb(74, 44, 0);
  background-color: rgb(255, 186, 57);
  border: 2px solid rgb(138, 90, 0);
  box-shadow: 0 4px 8px rgb(255, 186, 57);
}

.createButton:active,
.joinButton:active {
  box-shadow: 0 2px 4px rgb(255, 186, 57);
  transform: translateY(5px);
}